on:
  - push
  - pull_request
name: test
jobs:
  test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - name: SetupDB
        run: ./tests/setup.sh
        shell: bash
      - uses: arduino/setup-protoc@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: cargo test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features -- --include-ignored
